@use './mixins.scss' as *;

html {
    height: auto;
    font-size: calc(100vw / 1920 * 10);

    @include media($media-s) {
        font-size: calc(100vw / 390 * 10);
    }

    &,
    * {
        // firefox
        scrollbar-color: var(--primary-color) transparent;
        scrollbar-width: thin;

        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
            border-radius: 0.2rem;
        }

        &::-webkit-scrollbar {
            width: 0.4rem; /* ширина для вертикального скролла */
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
        }
    }
}

html,
body,
#root {
    min-height: 100vh;
}

body {
    background-color: var(--main-bg-color);
    color: var(--default-text-color);
    font-family: var(--font-urbanist);
    font-style: normal;
    line-height: var(--default-line-height);
    font-optical-sizing: auto;
    @include font-size;
}

#root {
    display: flex;
    flex-direction: column;
}

main {
    --main-page-gap: 15rem;

    display: flex;
    flex: 1;
    flex-direction: column;
    gap: var(--main-page-gap);
    padding-bottom: var(--main-page-gap);

    @include media($media-s) {
        --main-page-gap: 8rem;
    }
}

.wrapper {
    width: 100%;
    max-width: var(--wrapper-max-width);
    margin: 0 auto;

    @include media($media-s) {
        padding-inline: 1.6rem;
    }
}

button {
    transition:
        0.25s ease-out color,
        0.25s background-color;
}

a {
    color: var(--default-text-color);
}
