$media-l: 1920px;
$media-s: 767px;

@mixin hover {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            @content;
        }
    }
}

@mixin button-hover($contrast: 0.95) {
    transition: var(--button-transition);
    @include hover {
        filter: contrast($contrast);
    }
}

@mixin media($px) {
    @media (max-width: $px) {
        @content;
    }
}

@mixin font-size() {
    font-size: var(--default-font-size-l);

    @include media($media-s) {
        font-size: var(--default-font-size-s);
    }
}

@mixin flash-error-animation {
    * {
        animation: flash 0.15s forwards 2;
    }

    @keyframes flash {
        0% {
            border-color: var(--color-border);
        }

        100% {
            border-color: var(--color-error);
        }
    }
}

@mixin input-wrapper-style {
    --input-border-radius: 0.8rem;
    --input-transition: border-color 0.15s ease-out, color 0.15s ease-out;

    transition: var(--input-transition);
    border: var(--border);
    border-radius: var(--input-border-radius);

    svg {
        transition: var(--input-transition);
        color: var(--color-grey-40);
    }

    &:has(input:focus),
    &:has(textarea:focus) {
        border-color: var(--color-text-default);

        svg {
            color: var(--color-text-default);
        }
    }

    input,
    textarea {
        width: 100%;
        height: 100%;
        background-color: inherit;
        color: inherit;
        font-size: inherit;

        ::placeholder {
            color: var(--color-grey-40);
        }

        &:focus-visible {
            outline: none;
        }
    }

    @include media($media-s) {
        --input-border-radius: 0.6rem;
    }
}

@mixin form-container {
    --form-container-padding: 10rem;

    padding: var(--form-container-padding);
    border: var(--border);
    border-radius: var(--border-radius);

    @include media($media-s) {
        --form-container-padding: 2rem;
    }
}
