$wrapper: 159.6rem;
$wrapper-padding-inline: 8rem;

:root {
    --font-urbanist: 'Urbanist', sans-serif;
    --default-text-color: #fff;
    --default-line-height: 1.5;

    --default-font-size-l: 1.8rem;
    --default-font-size-m: 1.6rem;
    --default-font-size-s: 1.4rem;

    --wrapper-max-width: #{$wrapper};
    --wrapper-padding-inline: #{$wrapper-padding-inline};
    --main-bg-color: rgb(20, 20, 20);
}
