@use '/src/app/styles/mixins' as *;

$wrapper: 159.6rem;

:root {
    --breakpoint-desktop: #{$media-l};
    --breakpoint-mobile: #{$media-s};
    --font-urbanist: 'Urbanist', sans-serif;
    --default-line-height: 1.5;

    --default-font-size-l: 1.8rem;
    --default-font-size-s: 1.4rem;

    --wrapper-max-width: #{$wrapper};
    --wrapper-padding-inline: 8rem;
    --wrapper-padding-inline-s: 1.6rem;

    --color-text-default: #fff;
    --color-main-bg: rgb(20, 20, 20);
    --color-shadow: rgb(25, 25, 25);
    --color-primary: rgb(112, 59, 247);
    --color-border: rgb(38, 38, 38);
    --color-description: rgb(153, 153, 153);
    --color-dark: rgb(26, 26, 26);
    --color-primary-75: rgb(166, 133, 250);

    --border: 0.1rem solid var(--color-border);
    --border-radius: 1.2rem;
    --border-radius-s: 0.8rem;

    --button-transition: filter 0.2s ease-out;
}

[theme='light'] {
    --color-text-default: #000;
    --color-main-bg: #ebebeb;
    --color-border: #d9d9d9;
    --color-description: #666;
    --color-dark: #e5e5e5;
    --color-primary: rgb(167, 130, 246);
    --color-primary-75: rgb(189, 165, 250);
    --color-shadow: rgba(25, 25, 25, 7%);
}
