@use '/src/app/styles/mixins' as *;

$wrapper: 159.6rem;

:root {
    --breakpoint-desktop: #{$media-l};
    --breakpoint-mobile: #{$media-s};
    --font-urbanist: 'Urbanist', sans-serif;
    --default-text-color: #fff;
    --default-line-height: 1.5;

    --default-font-size-l: 1.8rem;
    --default-font-size-s: 1.4rem;

    --wrapper-max-width: #{$wrapper};
    --wrapper-padding-inline: 8rem;
    --wrapper-padding-inline-s: 1.6rem;

    --main-bg-color: rgb(20, 20, 20);
    --primary-color: rgb(112, 59, 247);
    --border-color: rgb(38, 38, 38);
    --description-color: rgb(153, 153, 153);
    --dark-color: rgb(26, 26, 26);

    --border-radius: 1.2rem;
    --border-radius-s: 0.8rem;
    --border: 0.1rem solid var(--border-color);
}
