._ {
    --property-form-gap: 5rem;
    --property-form-textarea-height: 16.2rem;

    display: grid;
    gap: var(--property-form-gap);
    grid-template-columns: repeat(4, 1fr);
    @include form-container;
}

.budget,
.contact {
    grid-column: span 2;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    label {
        grid-column: span 2;
    }
}

.textarea {
    grid-column: span 4;

    textarea {
        width: 100%;
        height: var(--property-form-textarea-height);
        resize: none;
    }
}

.submit_container {
    display: flex;
    grid-column: span 4;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    a {
        text-decoration: underline;
    }
}

@include media($media-s) {
    ._ {
        --property-form-gap: 2rem;
        --property-form-textarea-height: 8.3rem;
    }

    ._,
    .contact,
    .submit_container {
        display: flex;
        flex-wrap: wrap;

        > * {
            flex: 1 1 100%;
        }
    }
}
