._ {
    --button-border-radius: 1rem;
    --button-padding: 1.8rem 2.4rem;
    --button-font-size: 1.8rem;

    position: relative;
    box-sizing: content-box;
    flex-shrink: 0;
    padding: var(--button-padding);
    border: var(--border);
    border-radius: var(--button-border-radius);
    border-color: var(--color-border);
    background: var(--background);
    color: var(--color-text-default);
    font-size: var(--button-font-size);
    @include button-hover;

    &._default {
        --background: var(--color-main-bg);
    }

    &._primary {
        --background: var(--color-primary);
        --color-border: transparent;
        @include button-hover(1.5);
    }

    &._link {
        --color-border: transparent;
        --background: none;
    }

    &._dark {
        --background: var(--color-dark);
    }

    &._loading {
        color: transparent;
    }

    &:disabled {
        opacity: 0.5;
    }
}

.link {
    display: flex;
    flex-shrink: 0;

    button {
        flex-grow: 1;
    }
}

.loader {
    $size: 1.2em;

    position: absolute;
    top: calc(50% - #{$size/2});
    left: calc(50% - #{$size/2});
    height: $size;
    color: var(--color-text-default);
}

@include media($media-s) {
    ._ {
        --button-border-radius: 0.8rem;
        --button-padding: 1.5rem 2rem;
        --button-font-size: 1.4rem;
    }
}
