._ {
    --journey-section-gap: 4rem 8rem;
    --journey-section-padding-top: 10rem;
    --journey-section-text-container-gap: 8rem;
    --journey-section-banner-container-height: 54.6rem;

    display: flex;
    align-items: center;
    gap: var(--journey-section-gap);
    padding-top: var(--journey-section-padding-top);

    > * {
        flex: 1;
    }
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: var(--journey-section-text-container-gap);
}

.banner_container img {
    width: 100%;
    height: var(--journey-section-banner-container-height);
    object-fit: cover;
    border: var(--border);
    border-radius: var(--border-radius);
}

@include media($media-s) {
    ._ {
        --journey-section-padding-top: 5rem;
        --journey-section-banner-container-height: 31rem;
        --journey-section-text-container-gap: 4rem;

        flex-direction: column-reverse;
    }
}
