._ {
    --our-journey-gap: 4rem 8rem;
    --our-journey-padding-top: 10rem;
    --our-journey-text-container-gap: 8rem;
    --our-journey-banner-container-height: 54.6rem;
    --our-journey-abstract-width: 155rem;

    display: flex;
    align-items: center;
    gap: var(--our-journey-gap);
    padding-top: var(--our-journey-padding-top);

    > * {
        flex: 1;
    }
}

.text_container {
    display: flex;
    flex-direction: column;
    gap: var(--our-journey-text-container-gap);
}

.banner_container img {
    width: 100%;
    height: var(--our-journey-banner-container-height);
    object-fit: cover;
    border: var(--border);
    border-radius: var(--border-radius);
    background: url('shared/assets/images/abstract.webp') center /
        var(--our-journey-abstract-width) no-repeat;
}

@include media($media-s) {
    ._ {
        --our-journey-padding-top: 5rem;
        --our-journey-banner-container-height: 31rem;
        --our-journey-text-container-gap: 4rem;
        --our-journey-abstract-width: 65rem;

        flex-direction: column-reverse;
    }
}
