._ {
    --input-label-margin-bottom: 1.6rem;

    display: inline-block;
    margin-bottom: var(--input-label-margin-bottom);
}

@include media($media-s) {
    ._ {
        --input-label-margin-bottom: 1rem;
    }
}
