._ {
    --featured-text-container-gap: 20rem;
    --featured-text-container-margin-bottom: 8rem;
}

.text_container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--featured-text-container-gap);
    margin-bottom: var(--featured-text-container-margin-bottom);
}

.button {
    display: flex;
}

@include media($media-s) {
    ._ {
        --featured-text-container-margin-bottom: 4rem;
        --featured-text-container-gap: 4rem;
    }

    .text_container {
        .button {
            display: none;
        }
    }
}
