._ {
    --start-journey-padding-block: 10rem;
    --start-journey-title-margin-bottom: 2.1rem;
    --start-journey-container-gap: 25rem;

    --start-journey-abstract-left-inset: auto auto 0 -2rem;
    --start-journey-abstract-left-width: 56.6rem;

    --start-journey-abstract-right-width: 72.5rem;
    --start-journey-abstract-right-inset: auto -9rem -6rem auto;

    position: relative;
    overflow: hidden;
    border-top: var(--border);
    border-bottom: var(--border);
    background: var(--start-journey-bg);
}

.abstract {
    position: absolute;
    z-index: -1;
    color: var(--color-dark);

    &._left {
        inset: var(--start-journey-abstract-left-inset);
        width: var(--start-journey-abstract-left-width);
    }

    &._right {
        inset: var(--start-journey-abstract-right-inset);
        width: var(--start-journey-abstract-right-width);
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: var(--start-journey-padding-block);
    gap: var(--start-journey-container-gap);
}

.title {
    margin-bottom: var(--start-journey-title-margin-bottom);
}

@include media($media-s) {
    ._ {
        --start-journey-padding-block: 5rem;
        --start-journey-title-margin-bottom: 0.5rem;
        --start-journey-container-gap: 3rem;

        --start-journey-abstract-left-inset: 1rem auto auto -14.5rem;
        --start-journey-abstract-left-width: 53rem;

        --start-journey-abstract-right-width: 40rem;
        --start-journey-abstract-right-inset: auto -5rem -5rem auto;
    }

    .container {
        display: grid;
    }

    .abstract._left {
        transform: rotate(90deg);
    }
}
