._ {
    --skeleton-color: var(--color-dark);

    display: inline-block;
    animation: pulse linear 1s infinite;
    border-radius: var(--border-radius);
    pointer-events: none;

    &,
    & * {
        border: 0 !important;
        background: var(--skeleton-color) !important;
        color: transparent !important;
    }

    @keyframes pulse {
        0%,
        100% {
            filter: contrast(1);
        }

        50% {
            filter: contrast(0.9);
        }
    }
}

._circular {
    border-radius: 50%;
}
