._ {
    --select-z-index: 100;
    --select-icon-size: 2.4rem;
    --select-icon-arrow-size: 3rem;
    --select-icon-arrow-padding: 0.8rem;
    --select-gap: 2rem;

    position: relative;
}

.input {
    width: 100%;
    height: inherit;
}

.arrow {
    display: grid;
    flex-shrink: 0;
    width: var(--select-icon-arrow-size);
    height: var(--select-icon-arrow-size);
    padding: var(--select-icon-arrow-padding);
    border-radius: 50%;
    background-color: var(--color-dark);
    place-items: center;
    cursor: pointer;

    svg {
        color: var(--color-text-default);
    }
}

.option_list {
    display: grid;
    position: absolute;
    z-index: var(--select-z-index);
    width: 100%;
    max-height: 30rem;
    margin-top: 1rem;
    padding-block: 2rem;
    overflow: auto;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--color-dark);

    > li {
        cursor: pointer;

        &:hover {
            background-color: var(--color-main-bg);
        }
    }

    .option {
        padding: 1rem 2rem;

        &._empty {
            color: var(--color-grey-60);
        }
    }
}

.overlay {
    position: fixed;
    z-index: var(--select-z-index);
    inset: 0;
}

@include media($media-s) {
    ._ {
        --select-icon-size: 2rem;
        --select-icon-arrow-size: 3rem;
        --select-icon-arrow-padding: 0.8rem;
        --select-gap: 1.6rem;
    }
}
