._ {
    --select-z-index: 100;
    --select-padding: 2rem;
    --select-icon-size: 2.4rem;
    --select-icon-arrow-size: 3rem;
    --select-icon-arrow-padding: 0.8rem;
    --select-gap: 2rem;
    --select-line-height: 1.7;

    position: relative;
}

.select {
    @include input-wrapper-style;

    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--select-padding);
    background-color: var(--color-main-bg);
    gap: var(--select-gap);

    input {
        line-height: var(--select-line-height);
    }

    .icon {
        display: grid;
        position: relative;
        flex-shrink: 0;
        width: var(--select-icon-size);
        height: var(--select-icon-size);
        padding: 0.15rem;
        place-items: center;

        svg {
            max-width: 100%;
            max-height: 100%;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: calc(var(--select-gap) / -2);
            bottom: 0;
            width: 0.1rem;
            background-color: var(--color-border);
        }
    }

    .arrow {
        display: grid;
        flex-shrink: 0;
        width: var(--select-icon-arrow-size);
        height: var(--select-icon-arrow-size);
        padding: var(--select-icon-arrow-padding);
        border-radius: 50%;
        background-color: var(--color-dark);
        place-items: center;

        svg {
            color: var(--color-text-default);
        }
    }
}

.option_list {
    display: grid;
    position: absolute;
    z-index: var(--select-z-index);
    width: 100%;
    margin-top: 1rem;
    padding-block: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--color-dark);

    > li {
        cursor: pointer;

        &:hover {
            background-color: var(--color-main-bg);
        }
    }

    .option {
        padding: 1rem 2rem;

        &._empty {
            color: var(--color-grey-60);
        }
    }
}

.overlay {
    position: fixed;
    z-index: var(--select-z-index);
    inset: 0;
}

@include media($media-s) {
    ._ {
        --select-padding: 1rem 1.4rem;
        --select-icon-size: 2rem;
        --select-icon-arrow-size: 3rem;
        --select-icon-arrow-padding: 0.8rem;
        --select-gap: 1.6rem;
        --select-line-height: 1.7;
    }
}
