.wrapper {
    @include input-wrapper-style;

    & {
        display: flex;
        align-items: center;
        height: var(--input-height);
        padding-inline: 2rem;
    }

    &._default {
        background-color: var(--color-main-bg);
    }

    &._grey {
        background-color: var(--color-dark);
    }
}

.message {
    position: absolute;
}

._ {
    --input-height: 6.8rem;
    --input-icon-size: 2.4rem;
    --input-icon-margin-right: 1.2rem;
    --input-icon-padding: 0.15rem;

    &._error {
        @include flash-error-animation;

        .message {
            color: var(--color-error);

            &::first-letter {
                text-transform: uppercase;
            }
        }
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    height: var(--input-icon-size);
    margin-right: var(--input-icon-margin-right);
    padding: var(--input-icon-padding);
}

@include media($media-s) {
    ._ {
        --input-icon-margin-right: 0.7rem;
        --input-height: 5.2rem;
        --input-icon-size: 2rem;
    }
}
