._ {
    --search-input-margin: auto auto 1rem;
    --search-input-height: 10.3rem;
    --search-input-font-size: 2.4rem;
    --search-input-shadow-width: 1rem;
    --search-input-border-radius: var(--border-radius) var(--border-radius) 0 0;
    --search-button-gap: 0.8rem;
    --search-button-icon-size: 2.4rem;
    --search-fieldset-padding: 1.2rem;
    --search-select-height: 7.2rem;
    --search-select-border-radius: var(--border-radius);
}

.search_input {
    width: min(130rem, 100%);
    height: var(--search-input-height);
    margin: var(--search-input-margin);

    &__wrapper {
        gap: 2rem;
        height: inherit;
        border-radius: var(--search-input-border-radius);
        box-shadow: 0 0 0 var(--search-input-shadow-width) var(--color-shadow);
        font-size: var(--search-input-font-size);
    }
}

.submit_button {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: var(--search-button-gap);

    &__icon {
        width: var(--search-button-icon-size);
        height: var(--search-button-icon-size);
        padding: 0.3rem;

        svg {
            color: var(--color-text-default);
        }
    }
}

.input {
    height: var(--search-select-height);
    border-radius: var(--search-select-border-radius);
}

.fieldset {
    display: flex;
    padding: var(--search-fieldset-padding);
    border-radius: var(--border-radius);
    background-color: var(--color-shadow);
    gap: 2rem;

    > * {
        flex: 1;
    }
}

@include media($media-s) {
    ._ {
        --search-input-margin: auto auto 2rem;
        --search-input-height: 6.8rem;
        --search-input-border-radius: var(--border-radius);
        --search-input-font-size: 1.6rem;
        --search-input-shadow-width: 0.4rem;
        --search-fieldset-padding: 2rem;
        --search-select-height: 5.8rem;
        --search-select-border-radius: var(--border-radius-s);
    }

    .fieldset {
        flex-direction: column;
    }

    .submit_button {
        padding: 1.1rem 1.7rem;

        &__text {
            display: none;
        }
    }
}
