._ {
    --header-button-font-size: 1.8rem;
    --header-z-index: 10;

    position: sticky;
    z-index: 10;
    top: 0;
    background: var(--color-dark);

    :global .wrapper {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        align-items: center;
        padding-block: 2rem;
    }

    button {
        font-size: var(--header-button-font-size);
    }
}

.right_container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact_button {
    width: fit-content;
}

.burger_menu {
    display: contents;
    transition: 0.2s ease-out;

    &._active {
        z-index: var(--header-z-index);
        transform: rotateY(0);
    }
}

.burger_button {
    display: none;
    z-index: var(--header-z-index);
}

@include media($media-s) {
    ._ {
        --header-button-font-size: 1.4rem;

        :global .wrapper {
            display: flex;
            justify-content: space-between;
        }
    }

    .right_container {
        position: absolute;
        bottom: 2rem;
        width: 100%;
        margin-left: 0;
    }

    .contact_button {
        margin: auto;
    }

    .logo {
        width: 9.33rem;
    }

    .burger_menu {
        display: flex;
        position: fixed;
        z-index: -1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: rotateY(90deg);
        background-color: var(--color-dark);
        inset: 0;
    }

    .burger_button {
        display: initial;
    }
}
