.icon {
    display: grid;
    width: var(--describe-text-field-icon-size);
    margin-right: var(--describe-text-field-icon-margin-right);
    place-items: center;
    aspect-ratio: 1;
}

._ {
    --describe-text-field-height: 6.6rem;
    --describe-text-field-padding-inline: 2.4rem;
    --describe-text-field-border-radius: 1.2rem;
    --describe-text-field-icon-size: 2.8rem;
    --describe-text-field-font-size: 1.8rem;
    --describe-text-field-icon-margin-right: 1rem;
    --describe-text-field-send-button-width: 3rem;
    --describe-text-field-bgc: transparent;

    display: flex;
    align-items: center;
    height: var(--describe-text-field-height);
    padding-inline: var(--describe-text-field-padding-inline);
    cursor: text;
    @include input-wrapper-style;
}

.send_button {
    $padding: 1rem;

    display: grid;
    box-sizing: content-box;
    width: var(--describe-text-field-send-button-width);
    margin-right: -$padding;
    padding: $padding;
    aspect-ratio: 1;
    place-items: center;
    color: var(--color-text-default);

    &[disabled] {
        cursor: auto;
    }
}

.message {
    position: absolute;

    &::first-letter {
        text-transform: uppercase;
    }
}

@include media($media-s) {
    ._ {
        --describe-text-field-height: 5.2rem;
        --describe-text-field-padding-inline: 2rem;
        --describe-text-field-border-radius: 0.8rem;
        --describe-text-field-font-size: 1.4rem;
        --describe-text-field-icon-margin-right: 0.65rem;
        --describe-text-field-send-button-width: 3rem;
    }
}
