._ {
    --head-section-card-list-gap: 2rem;
    --head-section-card-list-border-radius: 0;
    --head-section-card-list-box-shadow: 0 0 0 1rem rgb(25, 25, 25);
    --head-section-card-list-wrapper-padding-top: 0;
    --head-section-buttons-gap: 2rem;
}

.top_container {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;

    @include media($media-s) {
        display: initial;
    }
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 75.8rem;
    min-height: 81.4rem;
    gap: 6rem;

    @include media($media-s) {
        min-height: initial;
        gap: 4rem;
    }
}

.text_container {
    position: relative;
}

.image_container {
    position: absolute;
    inset: 0 0 0 52%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @include media($media-s) {
        position: initial;
        height: 38rem;
        margin-bottom: 1.8rem;
        padding-block: 4rem;
        padding-inline: var(--wrapper-padding-inline-s);

        img {
            border: var(--border);
            border-radius: 1rem;
        }
    }
}

.discover_icon {
    display: grid;
    position: absolute;
    z-index: 1;
    top: -1.3%;
    right: -32.5%;
    width: 17.5rem;
    translate: -50%;
    place-items: center;

    &__round {
        animation: rotate 45s infinite linear;
    }

    &__arrow {
        position: absolute;
        width: 1.3em;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @include media($media-s) {
        top: -13.5rem;
        right: initial;
        left: 0;
        width: 11.7rem;
        translate: none;
    }
}

.title {
    margin-bottom: 2.4rem;

    @include media($media-s) {
        margin-bottom: 1.6rem;
    }
}

.buttons {
    display: flex;
    gap: var(--head-section-buttons-gap);

    @include media($media-s) {
        flex-direction: column;
    }
}

.head_card_list {
    display: flex;
    padding: var(--head-section-card-list-gap);
    border-radius: var(--head-section-card-list-border-radius);
    box-shadow: var(--head-section-card-list-box-shadow);
    gap: var(--head-section-card-list-gap);

    li {
        flex: 1;
    }
}

.head_card_list_wrapper {
    display: contents;
    padding-top: var(--head-section-card-list-wrapper-padding-top);
}

@include media($media-s) {
    ._ {
        --head-section-card-list-border-radius: 1.2rem;
        --head-section-card-list-box-shadow: 0 0 0 0.4rem rgb(25, 25, 25);
        --head-section-card-list-wrapper-padding-top: 4rem;
        --head-section-card-list-gap: 1rem;
        --head-section-buttons-gap: 1.5rem;
    }

    .head_card_list_wrapper {
        display: block;
    }

    .head_card_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
