._ {
    --head-section-card-list-gap: 2rem;
    --head-section-card-list-border-radius: 0;
    --head-section-card-list-box-shadow: 0 0 0 1rem rgb(25, 25, 25);
    --head-section-card-list-wrapper-padding-top: 0;
    --head-section-buttons-gap: 2rem;
    --head-section-image-container-inset: 0 0 0 52%;
    --head-section-discover-icon-inset: 18% auto auto 0;
    --head-section-discover-icon-width: 17.5rem;
    --head-section-discover-icon-translate: -50%, 0;
    --head-section-container-gap: 6rem;
    --head-section-title-margin-bottom: 2.4rem;
}

.top_container {
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    max-width: 75.8rem;
    min-height: 81.4rem;
    gap: var(--head-section-container-gap);
}

.image_container {
    position: absolute;
    inset: var(--head-section-image-container-inset);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.discover_icon {
    display: grid;
    position: absolute;
    z-index: 1;
    inset: var(--head-section-discover-icon-inset);
    width: var(--head-section-discover-icon-width);
    transform: translate(var(--head-section-discover-icon-translate));
    place-items: center;

    &__round {
        animation: rotate 45s infinite linear;
    }

    &__arrow {
        position: absolute;
        width: 1.3em;
    }

    @keyframes rotate {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.title {
    margin-bottom: var(--head-section-title-margin-bottom);
}

.buttons {
    display: flex;
    gap: var(--head-section-buttons-gap);
}

.head_card_list {
    display: flex;
    padding: var(--head-section-card-list-gap);
    border-radius: var(--head-section-card-list-border-radius);
    box-shadow: var(--head-section-card-list-box-shadow);
    gap: var(--head-section-card-list-gap);

    li {
        flex: 1;
    }
}

.head_card_list_wrapper {
    display: contents;
    padding-top: var(--head-section-card-list-wrapper-padding-top);
}

@include media($media-s) {
    ._ {
        --head-section-card-list-border-radius: 1.2rem;
        --head-section-card-list-box-shadow: 0 0 0 0.4rem rgb(25, 25, 25);
        --head-section-card-list-wrapper-padding-top: 4rem;
        --head-section-card-list-gap: 1rem;
        --head-section-buttons-gap: 1.5rem;
        --head-section-image-container-inset: auto;
        --head-section-discover-icon-inset: 100% auto auto;
        --head-section-discover-icon-width: 11.7rem;
        --head-section-discover-icon-translate: 0, -100%;
        --head-section-container-gap: 4rem;
        --head-section-title-margin-bottom: 1.6rem;
    }

    .container {
        min-height: initial;
    }

    .top_container {
        display: initial;
    }

    .image_container {
        position: relative;
        height: 38rem;
        margin-bottom: 1.8rem;
        padding-block: 4rem;
        padding-inline: var(--wrapper-padding-inline-s);

        img {
            border: var(--border);
            border-radius: 1rem;
        }
    }

    .head_card_list_wrapper {
        display: block;
    }

    .head_card_list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .buttons {
        flex-direction: column;
    }
}
